<link rel="stylesheet" href="{{ "/assets/css/projectList.css" | relative_url }}">
<div class="project-listing">
    <div class="project-icon">
        <img src="/assets/projects/{{ include.item.project }}/icon.svg" alt="" onerror="this.style.display='none'">
        <img src="/assets/projects/{{ include.item.project }}/icon.png" alt="">
    </div>
    <div class="project-description">
        <h3>{{include.item.name}}</h3>
        <p>{{include.item.description}}</p>
        <a href="{{include.item.link}}">&#x1F517; You can find it here!</a>
    </div>
</div>