#post-list h3{
  margin-bottom: 0;
}

#post-list p {
  margin-left: 2.5em;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 0.9em;
  color: #3c3c3c;
}

#post-list p:first-of-type::first-letter {
  font-size: 1em;
}

#post-list a {
  text-decoration: none;
  transition: 0.3s;
}

#post-list img {
  display: inline-block;
  width: 1.5em;
}

#post-list a:hover {
  padding-left: 32px;
  transition: 0.3s;
}