<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% feed_meta %}
    <link rel="stylesheet" href="{{ "/assets/css/default.css" | relative_url }}">
    <title>{{page.title}} | {{site.title}} </title>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-149751803-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-149751803-1');
    </script>
  </head>
  <body>
    <div id="site-content">
      {% include header.html %}
      <a href="/blog" class="back-button">← Back to Blog</a>
      <div id="page-content">
        <h1>{{ page.title }}</h1>
        {{ content }}
      </div>
    </div>
  </body>
<html>
