<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% feed_meta %}
    <link rel="stylesheet" href="{{ "/assets/css/default.css" | relative_url }}">
    <title>{{page.title}} | {{site.title}} </title>
    <script async src="https://statistics.lucvandenbrand.com/tracker.js" data-ackee-server="https://statistics.lucvandenbrand.com" data-ackee-domain-id="0e73d5a2-f98b-43f2-aea1-2a1955cffd83"></script>
  </head>
  <body>
    <div id="site-content">
      {% include header.html %}
      <a href="/blog" class="back-button">← Back to Blog</a>
      <div id="page-content">
        <h1>{{ page.title }}</h1>
        {{ content }}
      </div>
    </div>
  </body>
<html>
